* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*COLORES PRINCIPALES*/
html {
    --principalColor: rgb(220,53,70);
}

body {
    max-width:100%;
    min-width: 390px;
    max-height:100%;
    place-items:center;
}

/*CONTENEDOR PRINCIPAL*/
.container {
    min-height:100vh;
    display:grid;
    /*(grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fit, minmax(3rem,1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    grid-template-rows: 50px 20rem 1fr 50px;
    grid-template-areas:
    'nav nav nav nav'
    'header header header header'
    'main main main main'
    'footer footer footer footer'
}

nav, footer {
    background-color: var(--principalColor);
}

nav {
    grid-area:nav;
}

.headerCake, .headerCakeContact {
    grid-area:header;
}

main {
    grid-area:main;
}

footer {
    grid-area:footer;
}
